[Unit]
Description=armhf-MCSM Node Daemon
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/mcsmanager/
ExecStart=/opt/mcsmanager/start-daemon.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target